<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ejs & express</title>
  </head>
  <body>
    <main>
      <div>
        <h1>This is great and it works perfectly!</h1>
        <p>Welcome to About Page !</p>
        <p>Test4</p>
      </div>
    </main>
  </body>
</html>